.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.25rem 1rem;
  margin: 0.5rem 0;
  color: #333;
  border: 1px solid rgb(225, 225, 225);
  background-color: rgb(245, 245, 245);
  border-radius: 0.25rem;
}
.listItem.dragging {
  background-color: rgb(189, 192, 198);
}

.listText {
  display: flex;
  align-items: center;
}
.listText span {
  padding: 10px;
}
.listText span.line-through {
  text-decoration: line-through;
}
/* List.js editing form */
.listText form {
  padding: 0;
}
.listText form input {
  width: 100%;
  padding: 0.75rem 0.5rem;
  margin-right: 1rem;
  color: gray;
  border-radius: 0.25rem;
}

.listButton button {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 5px 9px;
  cursor: pointer;
  float: right;
}
